<table ng-if="list.found.length>0" class="table table-responsive">
  <tr>
    <th>Name</th>
    <th>Short Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <tr ng-repeat="item in list.found">
    <td>{{item.name}}</td>
    <td>{{item.short_name}}</td>
    <td>{{item.description}}</td>
    <td><button ng-click="list.onRemove({index:$index})">Don't want this one!</button></td>
  </tr>
</table>
<div class="error" ng-if="list.message.length>0">
  <div class="block" style="width:100%;height:100px"></div>
  <h3 class="message">{{list.message}}</h3>
</div>
